<!DOCTYPE html>
<html layout:decorator="layout/layout"
			xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
			xmlns:sec="http://www.springframework.org/security/tags">
	<head>
		<title>Rest backend</title>
	</head>
	<body>	
		<div layout:fragment="content">

			<div layout:fragment="content" class="ui">
				<div class="ui huge message aligned">
					<h1 class="ui huge header">Simplify ... Works</h1>
					<p>Welcome to Backend</p>
					<p>
						<a class="ui green button" href="#" onclick="$('.basic.modal').modal('show'); return false;">Learn more</a> 
					</p>
				</div>

				<h3 class="ui top attached header">
					<i class="setting icon"></i> 
					<div class="content">Rest</div>
				</h3>
				<div class="ui bottom attached segment">
					<p>
						We use oAuth2 for authorization, example:
					</p>
					<ol>
						<li>post token url: <a href="#" th:href="@{/oauth/token?password=mypassword&amp;username=myuser&amp;grant_type=password&amp;scope=write%20read}">/oauth/token?password=heslo&amp;username=tomiska&amp;grant_type=password&amp;scope=write%20read</a><br />
						with Basic Authentication header: <strong>Authorization: Basic c2lmeTpwYXNzd29yZA==</strong></li>
						<li>Obtained token have to be used for rest communication as authorization: header: <strong>Authorization: Bearer 2568455d-39c7-423d-a9b3-f705a9bfd3b6</strong></li>
					</ol>
					
					<p>
						Rest endpoints (hateoas) are located:
					</p>
					<ul>
						<li><a href="http://localhost:8080" th:href="@{/api/core/persons}">/api/core/persons</a></li>
						<li><a href="http://localhost:8080" th:href="@{/api/core/users}">/api/core/users</a></li>
						<li><a href="http://localhost:8080/api" th:href="@{/}">/api/ ... etc.</a></li>
					</ul>
				</div>				
				
				<h3 class="ui top attached header">
					<i class="users icon"></i> 
					<div class="content">Redirect to Rubix UI</div>
				</h3>
				<div class="ui bottom attached segment">
					<ul>
						<li>Dev: <a href="http://localhost:8080">http://localhost:8080</a></li>
						<li>Test: <a href="http://javadev1.ders.cz:8080/">http://javadev1.ders.cz:8080</a></li>
					</ul>
				</div>
			</div>			
		</div>
	</body>
</html>
