@mixin theme-footer($list) {
  #footer {
    padding: 10px;
    position: relative;
    color: get($list, footer, color);
    background: get($list, footer, bg);
    border-top: 1px solid get($list, header, divider, color);
  }

  #footer-container {
    transition: all 0.3s ease;
  }

  #sidebar ~ #footer-container {
    @media (min-width: $screen-sm-min) {
      margin-left: get($list, sidebar, width);
    }
  }
}
