/*
* TODO: split to coponent dependent files
*/

.datepicker-control, .datepicker-control .input-group-btn, .datepicker-control input {
  display: inline;
}

.datepicker-control input.form-control {
  width: 8em;
}

.datepicker-control.timeEnabled input.form-control {
  width: 11em;
}

.datepicker-control .btn, .codelist-control .btn {
  height: 34px;
}

.datepicker-control .btn-sm, .codelist-control .btn-sm {
  height: 28px;
}

.datepicker-control .btn-lg, .codelist-control .btn-lg {
  height: 42px;
}

.basic-form-child {
  border-left-color: lightgrey;
  border-left-width: thin;
  border-left-style: solid;
  border-right-color: lightgrey;
  border-right-width: thin;
  border-right-style: solid;
}

/**
* Basic table component
*/
.basic-table-container {
  .btn-toolbar {
    border: 1px solid #ddd;
    border-bottom: none;
    margin: 0 -1px 0 0;
    padding: 10px 10px;
  }

  .actions {
    text-align: center;

    .detail-link {
      color: #0078B0;

      &:hover {
        text-decoration: none;
        border-bottom: none;
      }
    }
    .delete-action {
      color: #d10008;

      &:hover {
        text-decoration: none;
        border-bottom: none;
      }
    }
    .delete-disable {
        color: #d3d3d3;
    }
  }
}
.basic-table-container tr.basic-table-filter .form-group { margin-bottom: 0; }
.basic-table-container div.basic-table-filter {
  margin-right: -1px;

  &.collapsed {
    height: 0;
    overflow: hidden;
  }

  .filter-body {
    padding: 10px 0;
    border: 1px solid #ddd;
    border-bottom: none;
  }

  .filter-footer {
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    text-align: right;

    .btn-toolbar {
      border: none;
    }
  }
}

.breadcrumbs {
  margin-top: 15px;
}

.body {
  font-family: helvetica;
}