<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
			xmlns:sec="http://www.springframework.org/security/tags"
			lang="en">
	<head>
		<meta http-equiv="content-type" content="text/xhtml; charset=UTF-8" />
		<meta name="keywords" content="application.keywords" />
		<meta name="copyright" content="1999-now, application.author"/>
		<meta name="author" content="SimplifyWorks, RT"/>
		<meta name="description" content="application.description"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
		<meta name="robots" content="noindex, nofollow"/>
		<!--		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/css/bootstrap.min.css"
							th:href="@{/webjars/bootstrap/3.3.2/css/bootstrap.min.css}" 
							rel="stylesheet" 
							media="screen"/>-->
		<link type="text/css" rel="stylesheet" media="screen" href="../../static/libs/semantic-ui/dist/semantic.min.css" th:href="@{/libs/semantic-ui/dist/semantic.min.css}" />
		<link type="text/css" rel="stylesheet" media="screen" href="../../static/css/shortcodes.css" th:href="@{/css/shortcodes.css}"/>

		<title>application.shortcut</title>
	</head>
	<body style="margin-top: 5px;">
		<div style="width: 1000px; margin: 0px auto;">

			<nav class="ui menu navbar pointing"
					 th:replace="layout/navigation :: navigation">
				<a class="item">
					<i class="home icon"></i> <span>Dashboard</span>
				</a>
			</nav>


			<div class="ui icon message" 
					 th:each="flashMessage : ${#vars['flash.messages']}"
					 th:classappend="${flashMessage.styleClass}">
				<i class="icon" 
					 th:classappend="${flashMessage.icon}"></i>
				<div class="header"
						 th:if="${flashMessage.headerMessage}"
						 th:text="${flashMessage.headerMessage}">
				</div>
				<div class="content"
						 th:if="${flashMessage.bodyMessage}"
						 th:utext="${flashMessage.bodyMessage}">
				</div>
				<i class="close icon"></i>
			</div>

			<div class="ui inverted dimmer main-loading">
				<div class="ui indeterminate text loader">Zpracovávám ...</div>
			</div>
			
			<div id="main-content">
				<div layout:fragment="leading-message"
						 style="margin-bottom: 20px;">
					<div class="ui huge message icon"
							 th:if="${currentUser}">
						<i class="trophy icon"></i>
						<div class="content">Na Vašem kontě je aktuálně <span class="strong">x</span> obdržených bludištáků.
						</div>
					</div>
				</div>

				<div layout:fragment="content" class="ui">
					<div class="ui huge message aligned">
						<h1 class="ui huge header">Simplify ... Works</h1>
						<p>Welcome ... : Bob</p>
						<p>
							<a class="ui green button" href="#">Zjistit více</a> 
							<a class="ui button" th:href="@{/logout}">Odhlásit</a> 
						</p>
					</div>

					<div class="ui segment">
						<!-- ============================================================================ -->
						<!-- This content is only used for static prototyping purposes (natural templates)-->
						<!-- and is therefore entirely optional, as this markup fragment will be included -->
						<!-- from "fragments/header.html" at runtime. -->
						<!-- ============================================================================ -->
						<h1>Static content for prototyping purposes only</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
							Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
							Phasellus et placerat elit.
						</p>
					</div>
				</div>
			</div>

			<div th:replace="layout/footer :: footer">
				<div class="ui divider"></div>
				<div style="margin-bottom: 15px;">SimplifyWorks</div>
			</div>
		</div>

		<!--		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>-->
		<!--		<script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.2/js/bootstrap.min.js}"></script>-->

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
		<script type="text/javascript" src="../static/libs/semantic-ui/dist/semantic.min.js" th:src="@{/libs/semantic-ui/dist/semantic.min.js}"></script>
		<script type="text/javascript" src="../static/libs/sockjs/sockjs.min.js" th:src="@{/libs/sockjs/sockjs.min.js}"></script>
		<script type="text/javascript" src="../static/libs/stomp-websocket/lib/stomp.min.js" th:src="@{/libs/stomp-websocket/lib/stomp.min.js}"></script>
		<script type="text/javascript" src="../static/libs/showdown/compressed/Showdown.js" th:src="@{/libs/showdown/compressed/Showdown.js}"></script>
		<script type="text/javascript" src="../static/libs/react/react-with-addons.min.js" th:src="@{/libs/react/react-with-addons.min.js}"></script>
		<script type="text/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script>
		<div layout:fragment="footer-js"></div>
	</body>
</html>
