<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/security/tags">
	<head>

	</head>
	<body>
		<nav th:fragment="navigation"
				 class="ui menu navbar pointing">
			<!--				<div class="header item">
								SimplifyWorks
							</div>				-->
			<a class="item waiting-show"
				 th:classappend="${page == 'index' ? 'active' : ''}"
				 th:href="@{/}">
				<i class="home icon"></i> <span th:text="#{label.dashboard}">Board</span>
			</a>
			<div th:if="${currentUser}" style="display: inline;">
				<a class="item waiting-show"
					 th:classappend="${page == 'account' ? 'active' : ''}"
					th:href="@{/account/main}">
					<i class="mail icon"></i>
					Moje konto
					<small class="small"> (<span>x</span>)</small>
				</a>
				<a class="item" onclick="$('.basic.modal').modal('show');">
					<i class="user icon"></i>
					Přátelé
					<small class="small"> (<span>x</span>)</small>
				</a>
				<div class="ui pointing dropdown link item hidden">
					<i class="dropdown icon"></i>
					<span class="text">Shopping</span>
					<div class="menu">
						<div class="header">Categories</div>
						<div class="item">
							<i class="dropdown icon"></i>
							<span class="text">Clothing</span>
							<div class="menu">
								<div class="header">Mens</div>
								<div class="item">Shirts</div>
								<div class="item">Pants</div>
								<div class="item">Jeans</div>
								<div class="item">Shoes</div>
								<div class="divider"></div>
								<div class="header">Womens</div>
								<div class="item">Dresses</div>
								<div class="item">Shoes</div>
								<div class="item">Bags</div>
							</div>
						</div>
						<div class="item">Home Goods</div>
						<div class="item">Bedroom</div>
						<div class="divider"></div>
						<div class="header">Order</div>
						<div class="item">Status</div>
						<div class="item">Cancellations</div>
					</div>
				</div>
			</div>
			<div class="right menu">
				<div class="item"
						 th:if="${currentUser}">
					<div class="ui transparent icon input">
						<input placeholder="Hledat ..." type="text"/>
						<i class="search link icon"></i>
					</div>
				</div>
				<a class="item"
					 th:href="@{/setting}"
					 th:classappend="${page == 'setting' ? 'active' : ''}"
					 th:if="${currentUser}">
					<i class="setting icon"></i>
					Nastavení
				</a>
				<div class="ui pointing dropdown link item"
						 th:if="${currentUser}">
					<i class="user icon"></i>
					<span sec:authentication="name">Bob</span>
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item waiting-show"
							 th:href="@{/logout}">
							<i class="unlock icon"></i>
							Odhlášení
						</a>
					</div>
				</div>
				<a class="item waiting-show hidden"
					 th:classappend="${page == 'login' ? 'active' : ''}"
					 th:href="@{/login}"
					 th:if="${currentUser == null}">
					<i class="lock icon"></i> Přihlášení
				</a>
			</div>
		</nav>
	</body>
</html>




