@charset "UTF-8";
/**
* Jednoduche elementarni styly aplikace
*/

.strong { font-weight: bold; }
.number, td.number, th.number { text-align: right; }
.block {display:  block; }
.center, .CENTER { text-align: center; }
.small-basic {font-size: 0.85em; font-weight: normal;}
.small {font-size: 0.85em; color: rgb(153, 153, 153); font-weight: normal;}
.text-shadow {color: rgb(153, 153, 153); }
.label.disabled, .disabled .label { opacity: .50; -moz-opacity: .50; filter: alpha(opacity = 50); }

.break {			
	display: block;
	word-break: break-all;
	white-space: normal; 
	-ms-word-wrap: break-word;
	-ms-word-break:break-all;
	word-wrap: break-word;
}

/* Odebrani odsazeni */
.clear-offset { margin: 0; padding: 0;}
.clear-offset .alert { margin-bottom: 5px; }

.alert-heading { font-size: 1.1em; }

/* jQuery sortarble */
.ui-sortable-placeholder { border: 1px dotted #E55A00; visibility: visible !important; }

.hidden { display: none; visibility: hidden; }

@media (max-width: 1024px) {
	.hidden1024 { display: none; }
}

